<!--boleh di copy tapi jangan ilangin credits nya:v-->
<1--BOTCAHX || TioXd-->
  
  <!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>List Harga || by TioXd</title>
  <link href="style.css" rel="stylesheet" type="text/css" />
</head>

<!-- konten -->
  <div class="pricing-wrapper clearfix">
    <!-- titel -->
    <h1 class="pricing-table-title">Ready to get started?
Choose a plan that suits your needs
 <a href="https://api.botcahx.biz.id">api.botcahx.biz.id</a></h1>

    <div class="pricing-table">
      <h3 class="pricing-title">free</h3>
      <div class="price">Rp0,-<sup>/ month</sup></div>
      <!--gratisan -->
      <ul class="table-list">
        <li>Requests <span>100/day</span></li>
        <li>Premium Features <span>No</span>
        <li>Expired <span class="unlimited">unlimited</span></li>
      </ul>
      <!-- button1 -->
      <div class="table-buy">
        <p>Rp0,<sup>/ month</sup></p>
        <a href="https://api.botcahx.biz.id/login" class="pricing-action">Claim</a>
      </div>
    </div>
    
    <div class="pricing-table recommended">
      <h3 class="pricing-title">Premium</h3>
      <div class="price">Rp1000,<sup>/ month</sup></div>
      <!-- prem -->
      <ul class="table-list">
        <li>Requests <span>99999/day</span></li>
        <li>Custom Api Key <span>Yes</span></li>
        <li>Premium Features <span>unlimited</span></li>
        <li>Expired <span class="unlimited">unlimited</span></li>
      </ul>
      <!-- button -->
      <div class="table-buy">
        <p>Rp1000,<sup>/ month</sup></p>
        <a href="https://wa.me/6282221792667?text=Beli+prem+bang" class="pricing-action">Buy</a>
      </div>
    </div>

    <div class="pricing-table">
      <h3 class="pricing-title">Hacker</h3>
      <div class="price">Rp5000,<sup>/ month</sup></div>
      <!-- Hacker -->
      <ul class="table-list">
        <li>Requests </span>999999999/day</li>
        <li>Custom Api Key <span>Yes</span></li>
        <li>Premium Features <span>Yes</span></li>
        <li>Expired <span class="unlimited">unlimited</span></li 
      </ul>
      <!-- button -->
      <div class="table-buy">
        <p>Rp5000,<sup>/ month</sup></p>
        <a href="https://wa.me/6282221792667?text=Beli+hacker+plan+bang" class="pricing-action">Buy</a>
      </div>
    </div>
  </div>
